@model Sistema_Web_trivias_2.Models.Pregunta

@{
    ViewBag.Title = "CrearPregunta";
}


<section class="content-header">
    <h1>
        Pregunta
        <small>Crear</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Crear Pregunta</h3>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Título</label>
                                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese el título...", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pregunta</label>
                                    @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese la pregunta...", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = "3", @placeholder = "Ingrese la descripción...", @required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-default" href="http://localhost:49275/trivia/ListaTrivia">Volver</a>
                                <button type="submit" class="btn btn-primary pull-right">Crear Pregunta</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>