@model Sistema_Web_trivias_2.Models.Pregunta

@{
    ViewBag.Title = "EliminarPregunta";
}
            @if (Session["sessionEmail"] != null)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">¿Estas seguro que quieres eliminar esta trivia?</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Id_Pregunta)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Id_Pregunta)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.titulo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.titulo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Question)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Question)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />

                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <h1>Debe estar autentificado</h1>
            }






