@model IEnumerable<Sistema_Web_trivias_2.Models.Alternativa>

@{
    ViewBag.Title = "ListaAlternativas";
}
           @if (Session["sessionEmail"] != null)
           {
            <div class="panel panel-primary">
                <div class="panel-heading">Lista de Alternativas</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id_alternativa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                            <th>
                                Editar Alternativas
                            </th>
                            <th>
                                Eliminar Alternativas
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id_alternativa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                <td> @Html.ActionLink("EditarAlternativa", "EditarAlternativa", "Alternativa", new { id = @item.Id_alternativa }, new { @class = "btn btn-warning" }) </td>
                                <td> @Html.ActionLink("EliminarAlternativa", "EliminarAlternativa", "Alternativa", new { id = @item.Id_alternativa }, new { @class = "btn btn-danger" }) </td>

                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
           }
           else
           {
               <h1>Debe estar autentificado</h1>
           }






