@model Sistema_Web_trivias_2.Models.Trivia

@{
    ViewBag.Title = "DetallesTrivia";
}


<section class="content-header">
    <h1>
        Trivia
        <small>Detalle</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle Trivia N°: @Html.DisplayFor(model => model.Id_trivia) </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre</label>
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @disabled="disabled" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fecha de creación</label>
                                @Html.EditorFor(model => model.FechaDeCreacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Categoría</label>
                                @Html.EditorFor(model => model.Nombre_Categoria, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = "3", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-default" href="http://localhost:49275/trivia/ListaTrivia">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






