
@model IEnumerable<Sistema_Web_trivias_2.Models.Trivia>
@{
    ViewBag.Title = "ListaTrivia";
}

<section class="content-header">
    <h1>
        Trivias
        <small>Lista</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Matemáticas</h3>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre Trivia</th>
                                <th>Fecha de Creación</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th>Detalles</th>
                                <th>Ver Lista de Preguntas</th>
                                <th>Agregar Preguntas</th>
                                <th>Estadísticas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Id_trivia)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.FechaDeCreacion)
                                    </td>
                                    <!--
                                    <td class="no-sort"> @Html.ActionLink("Editar", "EditarTrivia", "Trivia", new { id = @item.Id_trivia }, new { @class = "btn btn-warning" }) </td>
                                    -->
                                    <td class="no-sort">
                                        <center>
                                            <a class="btn btn-primary btn-flat btn-xs" href=@Url.Action("EditarTrivia", "Trivia", new { id = @item.Id_trivia })><i class="fa fa-edit"></i></a>
                                        </center>
                                    </td>
                                    <td class="no-sort"> @Html.ActionLink("Eliminar ", "EliminarTrivia", "Trivia", new { id = @item.Id_trivia }, new { @class = "btn btn-danger" }) </td>
                                    <td class="no-sort"> @Html.ActionLink("Detalles", "DetallesTrivia", "Trivia", new { id = @item.Id_trivia }, new { @class = "btn btn-info" }) </td>
                                    <td class="no-sort"> @Html.ActionLink("Lista De Preguntas", "listaPreguntas", "Trivia", new { id = @item.Id_trivia }, new { @class = "btn btn-primary" }) </td>
                                    <td class="no-sort"> @Html.ActionLink("Crear Pregunta", "CrearPregunta", "Pregunta", new { id = @item.Id_trivia }, new { @class = "btn btn-success" }) </td>
                                    <td class="no-sort"> @Html.ActionLink("Ver estadisticas", "ListaDeAlumnos", "Ranking", new { id = @item.Id_trivia }, new { @class = "btn btn-success" }) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



    <div class="modal " id="crearTrivia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">  Crear Trivia</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            @{Html.RenderAction("_CrearTrivia", "Trivia");}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal " id="editarTrivia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">  Editar Trivia bkn</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-success">
                        <div class="panel-body">

                            @{Html.RenderAction("VerTrivia", "Trivia", new { id = 4 });}

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal " id="eliminarTrivia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">  Eliminar Trivia</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            @{Html.RenderAction("_EliminarTrivia", "Trivia", new { id = 4 });}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal " id="detallesTrivia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">  Detalles Trivia</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            @{Html.RenderAction("_DetallesTrivia", "Trivia", new { id = 4 });}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "responsive" : true,
                "order": [1, "asc"],
                "columnDefs": [
                    { targets: 'no-sort', orderable: false }
                ],
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,

                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#detallesTrivia').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                modal: true
            });

            $('.modal').click(function () {
                $('#detallesTrivia').load(this.href, function () {
                    $(this).dialog('open');
                });
                return false;
            });
        });
    </script>
}
