@model Sistema_Web_trivias_2.Models.Alternativa

@{
    ViewBag.Title = "EliminarAlternativa";
}

            @if (Session["sessionEmail"] != null)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">¿Estas seguro que quieres eliminar esta trivia?</div>
                    <div class="panel-body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Id_alternativa)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Id_alternativa)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.status)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h1>Debe estar autentificado</h1>
            }



   
    




